## London borough with the best House Price (Terraced) to Crime ratio

### Data Sources

##### London Crime data by borough from Sept 2016 - Aug 2018
https://data.london.gov.uk/dataset/recorded_crime_summary


##### London House Prices data by borough from Jan 2016 - July 2018
https://data.london.gov.uk/dataset/uk-house-price-index

In [170]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [171]:
# Load data
crime_raw_df = pd.read_csv('./data/MPS Borough Level Crime.csv')
house_price_raw_df = pd.read_excel('./data/UK House price index.xls', sheet_name='Average price')

### Format Crime Data

In [172]:
# Keep the required columns
keep_columns = [
    'Borough', 
    '201701', '201702', '201703', '201704', '201705', '201706', 
    '201707', '201708', '201709', '201710', '201711', '201712',
    '201801', '201802', '201803', '201804', '201805', '201806',
    '201807'
]

crime_raw_df = crime_raw_df[keep_columns]

In [173]:
# Group and sum all crimes by borough
crime_df = crime_raw_df.groupby('Borough').sum()

# Drop unwanted row
crime_df = crime_df.drop('London Heathrow and London City Airports')

In [174]:
# Stack data and name series
crime_df = crime_df.stack()
crime_df.name = 'Crime'

### Format House Price Data

In [175]:
# Keep the required rows and columns
columns = [
    'Barking & Dagenham', 'Barnet', 'Bexley', 'Brent',
    'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich',
    'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow', 'Havering',
    'Hillingdon', 'Hounslow', 'Islington', 'Kensington & Chelsea',
    'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham',
    'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton',
    'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster'
]
house_price_raw_df = house_price_raw_df[columns]

# Get data from Jan 2017 to Aug 2018
house_price_raw_df = house_price_raw_df.loc['2017-01-01': '2018-07-01']

# Change index to year month
house_price_raw_df.index = house_price_raw_df.index.map(lambda x: x.strftime('%Y%m'))

In [176]:
# Stack data and name series
house_price_df = house_price_raw_df.T.stack()
house_price_df.name = 'House Price'

### Merge Crime and House Price Data

In [177]:
crime_df.head()

Borough
Barking and Dagenham  201701    1379
                      201702    1410
                      201703    1604
                      201704    1497
                      201705    1706
Name: Crime, dtype: int64

In [178]:
house_price_df.head()

Barking & Dagenham  201701    282441
                    201702    280698
                    201703    278213
                    201704    280567
                    201705    286018
Name: House Price, dtype: object

In [179]:
# Validate data shapes
crime_df.shape == house_price_df.shape

True

In [180]:
type(crime_df) == type(house_price_df)

True

In [181]:
# Convert series to dataframe
crime_df = pd.DataFrame(crime_df)
house_price_df = pd.DataFrame(house_price_df)

# Name multi index

In [182]:
crime_df.index.names = ['Borough', 'Period']
house_price_df.index.names = ['Borough', 'Period']

In [183]:
pd.merge(crime_df, house_price_df, left_index=True, right_index=True)

                    Crime  House Price
Borough     Period
Barnet      201701   2077       532924
            201702   2045       540501
            201703   2438       549401
            201704   2207       543699
            201705   2293       544994
            201706   2219       531344
            201707   2384       527928
            201708   2210       526274
            201709   2155       537950
            201710   2414       544010
            201711   2463       540875
            201712   2084       537646
            201801   2258       530906
            201802   2117       531559
            201803   2389       539683
            201804   2347       544468
            201805   2384       537571
            201806   2341       530870
            201807   2358       526051
Bexley      201701   1099       330066
            201702   1148       328824
            201703   1272       328858
            201704   1091       329046
            201705   1192       333651
            201706   1290       336980
            201707   1255       344041
            201708   1217       344533
            201709   1300       339917
            201710   1418       335917
            201711   1346       336437
...                   ...          ...
Wandsworth  201709   2059       626924
            201710   2221       615800
            201711   2233       606235
            201712   2188       598124
            201801   2168       594926
            201802   2075       595472
            201803   2072       592858
            201804   2100       595963
            201805   2266       598490
            201806   2280       605685
            201807   2468       623126
Westminster 201701   4202  1.04021e+06
            201702   3854  1.07399e+06
            201703   4853  1.06097e+06
            201704   4768  1.10905e+06
            201705   4939  1.09877e+06
            201706   4582  1.08842e+06
            201707   5181  1.05895e+06
            201708   5086  1.03992e+06
            201709   4741  1.04655e+06
            201710   4890  1.03895e+06
            201711   4903  1.03877e+06
            201712   5195  1.09317e+06
            201801   4831  1.11337e+06
            201802   4424  1.10467e+06
            201803   4722  1.07703e+06
            201804   4555  1.02783e+06
            201805   5031  1.02959e+06
            201806   5057       981040
            201807   5579       970990

[551 rows x 2 columns]